<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled three_cols">
                  <li><%= link_to "Home", root_path %></li>
                  <li><%= link_to "About Us", about_path %></li>
                  <li><%= link_to "KameaKare", kameakare_path %></li>
                  <li><%= link_to "ZOTA", zota_path %></li>
                  <li><%= link_to "Virtual CIO", cio_path %></li>
                  <li><%= link_to "Bellissimail", bellissimail_path %></li>
                  <li><%= link_to "IT Staffing", staffing_path %></li>
                  <li><%= link_to "Reticle", reticle_path %></li>
                  <li><%= link_to "Contact Us", new_contact_path %></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Accreditation</h3>
                    <div class="media">
                        <div class="media-body">
                            <a target="_blank" title="Click for the Business Review of Kamea Networks & Technology, Inc., a Computers - Sys Designers & Consult in Saint Charles IL" href="https://www.bbb.org/chicago/business-reviews/computers-sys-designers-and-consult/kamea-networks-technology-inc-in-saint-charles-il-88647581#sealclick"><img alt="Click for the BBB Business Review of this Computers - Sys Designers & Consult in Saint Charles IL" src="https://seal-chicago.bbb.org/seals/blue-seal-250-52-whitetxt-kameanetworkstechnologyinc-88647581.png" /></a>
                            <br>
                            <hr>
                            <p>All names, including but not limited to KameaKare, ZOTA, Reticle, Bellissimail, the stylized URL logo, and all other graphic work and content is trademarked and copyright protected as needed.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="footer-widget-title">iPhone App</h3>
                <p>KameaKare App, Version 1.0.1 for iOS 6.1 or later. Optimized for iPhone 5. Click App Store Icon to download.</p>
                <%= link_to image_tag("/assets/knt/appStoreLogo", class: "kntApp", :alt => "App Store Logo"), "https://itunes.apple.com/us/app/kameakare/id710681100?ls=1&mt=8", :target => "_blank" %>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
<footer id="footer">
    <p>&copy; <%= Time.new.year %>.  Kamea Networks is an Illinois corporation.</p>
</footer>

</div> <!-- boxed -->
</div> <!-- sb-site -->

<div class="sb-slidebar sb-right sb-style-overlay">

    <h2 class="slidebar-header no-margin-bottom">Navigation</h2>
    <ul class="slidebar-menu">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "KameaKare", kameakare_path %></li>
        <li><%= link_to "ZOTA", zota_path %></li>
        <li><%= link_to "Virtual CIO", cio_path %></li>
        <li><%= link_to "Bellissimail", bellissimail_path %></li>
        <li><%= link_to "IT Staffing", staffing_path %></li>
        <li><%= link_to "Reticle", reticle_path %></li>
        <li><%= link_to "Contact Us", new_contact_path %></li>
    </ul>

    <h2 class="slidebar-header">Social Media</h2>
    <div class="slidebar-social-icons">
        <%= link_to '<i class="fa fa-twitter"></i>'.html_safe, "https://twitter.com/kameanetworks", class: "social-icon-ar twitter", :target => "_blank" %>
        <%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "https://www.facebook.com/KameaNetworks/", class: "social-icon-ar facebook", :target => "_blank" %>
        <%= link_to '<i class="fa fa-google-plus"></i>'.html_safe, "https://plus.google.com/+Kameanetworks", class: "social-icon-ar google-plus", :target => "_blank" %>
        <%= link_to '<i class="fa fa-linkedin"></i>'.html_safe, "https://www.linkedin.com/company/kamea-networks-&-technology-inc", class: "social-icon-ar linkedin", :target => "_blank" %>
    </div>
</div> <!-- sb-slidebar sb-right -->
<!--<div id="back-top">-->
<!--    <a href="#header"><i class="fa fa-chevron-up"></i></a>-->
<!--</div>-->

<!-- Scripts -->
<!-- Compiled in vendors.js -->
<!--
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.cookie.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-switch.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/slidebars.min.js"></script>
<script src="assets/js/jquery.bxslider.min.js"></script>
<script src="assets/js/holder.js"></script>
<script src="assets/js/buttons.js"></script>
<script src="assets/js/jquery.mixitup.min.js"></script>
<script src="assets/js/circles.min.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<script src="assets/js/jquery.matchHeight-min.js"></script>
-->

<script src="/assets/vendors.js"></script>

<!--<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>-->


<!-- Syntaxhighlighter -->
<!--<script src="/assets/syntaxhighlighter/shCore.js"></script>-->
<!--<script src="/assets/syntaxhighlighter/shBrushXml.js"></script>-->
<!--<script src="/assets/syntaxhighlighter/shBrushJScript.js"></script>-->

<script src="/assets/DropdownHover.js"></script>
<script src="/assets/app.js"></script>
<script src="/assets/holder.js"></script>
<script src="/assets/home_info.js"></script>
<script>
  $("#preloader").hide()
</script>

