<div class="sb-site-container">
<div class="boxed">

<header id="header-full-top" class="hidden-xs header-full">
    <div class="container">
        <div class="header-full-title">
            <!--<h1 class="animated fadeInRight"><a href="index.html">artificial <span>reason</span></a></h1>-->
            <!--<p class="animated fadeInRight">Clean and elegant theme</p>-->
            <%= image_tag ("/assets/knt/kntLogoNEW.png"), class: "mainKntLogo", :alt => "Kamea Networks Logo" %>
        </div>
        <nav class="top-nav">
            <ul class="top-nav-social hidden-sm">
                <li><%= link_to '<i class="fa fa-twitter"></i>'.html_safe, "https://twitter.com/kameanetworks", class: "animated fadeIn animation-delay-6 twitter", :target => "_blank" %></li>
                <li><%= link_to '<i class="fa fa-facebook"></i>'.html_safe, "https://www.facebook.com/KameaNetworks/", class: "animated fadeIn animation-delay-7 facebook", :target => "_blank" %></li>
                <li><%= link_to '<i class="fa fa-google-plus"></i>'.html_safe, "https://plus.google.com/+Kameanetworks", class: "animated fadeIn animation-delay-7 google-plus", :target => "_blank" %></li>
                <li><%= link_to '<i class="fa fa-linkedin"></i>'.html_safe, "https://www.linkedin.com/company/kamea-networks-&-technology-inc", class: "animated fadeIn animation-delay-6 linkedin", :target => "_blank" %></li>
            </ul>
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->
<nav class="navbar navbar-default navbar-header-full navbar-dark yamm navbar-static-top" id="header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
            <!--    <span class="sr-only">Toggle navigation</span>-->
            <!--    <i class="fa fa-bars"></i>-->
            <!--</button>-->
            <!--<a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="index.html">Artificial <span>Reason</span></a>-->
            <%= image_tag ("/assets/knt/kntLogoNEW.png"), class: "navbar-brand hidden-lg hidden-md hidden-sm hidden-xs mobileLogo", :id => "ar-brand", :alt => "Kamea Networks Logo" %>
            <%= image_tag ("/assets/knt/kntLogoNEW.png"), class: "hidden-lg hidden-md hidden-sm mobileLogo", :alt => "Kamea Networks Logo" %>
        </div> <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="pull-right">
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right hidden-lg hidden-md"><i class="fa fa-bars"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
                <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About Us", about_path %></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Services</a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li class="<%= 'active' if current_page?(kameakare_path) %>"><%= link_to "KameaKare", kameakare_path %></li>
                        <li class="<%= 'active' if current_page?(zota_path) %>"><%= link_to "ZOTA", zota_path %></li>
                        <li class="<%= 'active' if current_page?(cio_path) %>"><%= link_to "Virtual CIO", cio_path %></li>
                        <li class="<%= 'active' if current_page?(bellissimail_path) %>"><%= link_to "Bellissimail", bellissimail_path %></li>
                        <li class="<%= 'active' if current_page?(staffing_path) %>"><%= link_to "IT Staffing", staffing_path %></li>
                        <li class="<%= 'active' if current_page?(reticle_path) %>"><%= link_to "Reticle", reticle_path %></li>
                    </ul>
                </li>
                <li class="<%= 'active' if current_page?(new_contact_path) %>"><%= link_to "Contact Us", new_contact_path %></li>
             </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>