<!DOCTYPE html>
<html>
<head>
  <title>Kamea Networks and Technology</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Lato:100i,300,400" rel="stylesheet">
  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>

<%= render "layouts/header" %>

  <%= yield %>

<%= render "layouts/footer" %>

</body>
</html>
